<div id="<%= dom_id website %>">
  <p>
    <strong>Title:</strong>
    <%= website.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= website.body %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= website.link %>
  </p>

</div>
